.DS_Store
*.dSYM
.vscode
day 2 (2)
day 3 (2)
day 4 (2) 
day 5 (2)
day 6 (2)
day 7 (2)
day 8 (2)
day 9 (2)
day 10 (2)
day 11 (2)
day 12 (2)
day 13 (2)
day 14 (2)
day 15 (2)
day 16 (2)
day 17 (2)
day 18 (2)
day 19 (2)
day 20 (2)
day 21 (2)
day 22 (2)
day 23 (2)
day 24 (2)
day 25 (2)
day 26 (2)
day 27 (2)
day 28 (2)
day 29 (2)
day 30 (2)
day 2 (1)
day 3 (1)
day 4 (1)
day 5 (1)
day 6 (1)
day 7 (1)
day 8 (1)
day 9 (1)
day 10 (1)
day 11 (1)
day 12 (1)
day 13 (1)
day 14 (1)
day 15 (1)
day 16 (1)
day 17 (1)
day 18 (1)
day 19 (1)
day 20 (1)
day 21 (1)
day 22 (1)
day 23 (1)
day 24 (1)
day 25 (1)
day 26 (1)
day 27 (1)
day 28 (1)
day 29 (1)
day 30 (1)
day 2 (3)
day 3 (3)
day 4 (3)
day 5 (3)
day 6 (3)
day 7 (3)
day 8 (3)
day 9 (3)
day 10 (3)
day 11 (3)
day 12 (3)
day 13 (3)
day 14 (3)
day 15 (3)
day 16 (3)
day 17 (3)
day 18 (3)
day 19 (3)
day 20 (3)
day 21 (3)
day 22 (3)
day 23 (3)
day 24 (3)
day 25 (3)
day 26 (3)
day 27 (3)
day 28 (3)
day 29 (3)
day 30 (3)
day 2 (4)
day 3 (4)
day 4 (4)
day 5 (4)
day 6 (4)
day 7 (4)
day 8 (4)
day 9 (4)
day 10 (4)
day 11 (4)
day 12 (4)
day 13 (4)  
day 14 (4)
day 15 (4)
day 16 (4)
day 17 (4)  
day 18 (4)
day 19 (4)
day 20 (4)
day 21 (4)
day 22 (4)
day 23 (4)
day 24 (4)
day 25 (4)
day 26 (4)
day 27 (4)
day 28 (4)
day 29 (4)
day 30 (4)